<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Farm <%= farm.name %></title>
</head>

<body>
    <h1><%= farm.name %> </h1>
    <h3> Farm City : <%= farm.city %></h3>
    <h3> Farm Email : <%= farm.email %></h3>
    <ul>
        <% for (let product of farm.products) {%>
        <li> <a href="/products/<%= product._id %>"> <%= product.name %></a></li>
        <% } %>
    </ul>

    <a href="/farms">Back</a>
    <br>
    <a href="/farms/<%= farm._id %>/products/create">Add New Product</a>
    <form action="/farms/<%= farm._id %>?_method=DELETE" method="post">
        <button>Delete</button></form>
</body>

</html>